doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='http://localhost:8080/helper.js')
    script(src='/utils.js')
  body
    block content
